[Unit]
Description=ServerStatus-Client
Documentation=https://github.com/cokemine/ServerStatus-goclient
After=network.target

[Service]
ExecStart=/usr/local/ServerStatus/client/status-client
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target

